
html
{
  height:100%;
}

body
{
    background-color: rgb(83, 112, 155); /* greyish background */
    color: #fff; /* white font */
    text-align: justify;
    height: 100%;
}

/*
 * Header  adapted from "cover" a bootstrap template
 */
.masthead
{
  padding: 0.2rem 2rem 2rem 1rem; /* top, right, bottom, left */
}

.navbar
{
  background-color: rgb(105, 137, 185);
}

#navbar
{
  box-shadow: 3rem 3rem 3rem 0px rgba(0, 0, 0, 0.3);
}

#nav_signature:hover
{
  background-color: black;
}

.masthead-brand
{
  margin-bottom: 0;
  margin-top: 0.2rem;
  float: center;
}

.nav-masthead .nav-link
{
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus
{
  border-bottom-color: rgba(199, 209, 223, 0.3); /* 0.3 is transparency of color of line beneath hovered over link */
  color: rgba(255, 255, 255, .9);
  transform: translate(-0, -0.3rem);
  transition: text-color 1s linear, border-bottom-color 0.5s linear, transform 0.2s ease-out
}

.nav-masthead .nav-link + .nav-link
{                                    /* space between nav-links */
  margin-left: 2rem;
}

.nav-masthead .active
{
  color: rgb(255, 255, 255);    /* font color of active tab */
  border-bottom-color: rgb(131, 155, 192); /* color of line beneath active link */
}

@media (min-width: 1000px)
{
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 240, 250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  background: rgb(83, 113, 158); 
}

.page-header
{
    padding-top: 3rem;
}

/*.socialmedia
{
  height: 20rem;
  width: 45rem;
  background-color: transparent;
  transform:translate(-25rem)rotate(-30deg);
  position: absolute;
}
.socialmedia:hover
{
  background-color: rgba(131, 155, 192, 0.8);
  transition: background-color 1s linear;
}*/

/* crops square picture to circle. adapted from: https://medium.com/@biancapower/how-to-make-a-rectangle-image-a-circle-in-css-2f392bc9abd3*/
.image-cropper
{
    width: 15rem;
    height: 15rem;
    position: relative;
    left: -2%;
    overflow: hidden;    /* overflow & border-radius is the actual cropping */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    opacity: 0%;
}
.profile-pic
{
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}

.signature-distancer
{
  margin-top: -6rem;
}

.btn-margin
{
  margin: 1rem;
}

.formfield-margin
{
  margin: 1rem;
}

/* Custom button */
.btn-3,
.btn-3:hover,
.btn-3:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


#signature
{
  width: 50vw;
  height: auto;
  position: relative;
  z-index: 1; /* brings it to front */
  left: 50%;
  transform: translate(-50%, -4.5rem);
}

#animated-background
{
  position: fixed;
  z-index: -100;
  height: 100%;
}

.tile
{
  width: 4.8vw;
  height: 100%;
  overflow: scroll;
  float: left;
}

.a { background: #02204d; }
.b { background: #072655; }
.c { background: #072c64; }
.d { background: #0b2f64; }
.e { background: #103266; }
.f { background: #12356b; }
.g { background: #16396e; }
.h { background: #193c70; }
.i { background: #1d4177; }
.j { background: #204377; }
.k { background: #24487c; }
.l { background: #284d81; }
.m { background: #2b5083; }
.n { background: #2f5386; }
.o { background: #33578a; }
.p { background: rgb(52, 88, 139); }
.q { background: rgb(57, 92, 143); }
.r { background: rgb(61, 94, 143); }
.s { background: rgb(69, 100, 148); }
.t { background: rgb(72, 102, 148); }



.video{
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.3);
  text-align:center;
}

.playfair-bold
{
  font-family: "Playfair Display";
  font-weight: bold;
  color: rgba(255, 255, 255, .9)
}

.playfair
{
  font-family: "Playfair Display";
  color: rgba(255, 255, 255, .9);
  text-align: justify;
}

.playfair-black
{
  font-family: "Playfair Display";
  color: rgba(2, 2, 2, 0.9);
  text-align: justify;
}

.cent
{
  text-align: center;
  position: center;
}